<% provide(:title, @user.name) %>
<aside>
    <section class="user_info">
        <h1>
            <%= gravatar_for @user %>
            <%= @user.name%>
        </h1>
    </section>
</aside>
<% if @user.portfolios.any? %>
    <h3 class = "count">Portfolios (<%= @user.portfolios.count %>)</h3>
    <div class = "paginate_box">
        <%= will_paginate @portfolios%>
    </div>
    <ol class="portfolios">
        <%= render @portfolios %>
    </ol>
    <div class = "paginate_box">
        <%= will_paginate @portfolios%>
    </div>
<% end %>
